.bg-hugyszin{background-color: lightyellow !important;}
.bg-brown{background-color: #C68E58 !important;}
a{
    text-decoration: none;
    color: inherit;
}
* {
    transition: transform 0.3s ease-in-out;
}

*:hover {
    transform: scale(1.0005);
}